<script>
function sendTimeToServer(){
    var time = new Date();
    var i = document.createElement("img");
    i.src = "/get_time?time=" + time;
    document.getElementById("time").innerHTML = time;
}
</script>
<button onclick="sendTimeToServer()">update time</button>
<div id="time">Time: </div>